body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}
body a {
  text-decoration: none;
  color: rgb(200, 200, 200);
  font-weight: bold;
}
body h1 {
  padding: 0 0 10px 0;
}
button {
  position: relative;
  background-color: rgb(200, 200, 200);
  border: 0px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 2pt;
  text-align: center;
  font-size: 24pt;
  width: 20%;
  padding: 5px;
  cursor: cell;
}

.popup {
  display: inline-block;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-content {
  color: rgb(200, 200, 200);
  margin: 5% auto;
  padding: 30px;
  width: 80%;
  text-transform: uppercase;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16pt;
  letter-spacing: 2pt;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-device-width: 450px){

  button {
    background-color: rgb(200, 200, 200);
    border: 0px;
    font: sans-serif, "helvetica";
    letter-spacing: 0pt;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 20%;
    cursor: cell;
  }
  .popup-content {
    margin: 10% auto;
    width: 90%;
    padding: 20px;
    font-size: 10pt;
  }
}
