body {
  overflow: hidden;
}
button {
  background-color: rgb(250, 130, 40);
  border: 0px;
  font: sans-serif, "helvetica";
  letter-spacing: 2pt;
  font-size: 14pt;
  font-weight: bold;
  padding: 18px;
}
