body {
  overflow: hidden;
  cursor: move;
}
body a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
body h1 {
  padding: 0 0 10px 0;
}
button {
  position: relative;
  background-color: rgb(250, 130, 40);
  border: 0px;
  font-family: Helvetica, sans-serif;
  letter-spacing: 2pt;
  font-size: 24pt;
  width: 25%;
  padding: 10px 50px;
  cursor: pointer;
}

.popup {
  display: inline-block;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-content {
  background-color: rgb(250, 130, 40);
  margin: 10% auto;
  padding: 30px;
  width: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
  letter-spacing: 1pt;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-device-width: 450px){

  button {
    background-color: rgb(250, 130, 40);
    border: 0px;
    font: sans-serif, "helvetica";
    letter-spacing: 1pt;
    font-size: 9pt;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25%;
    cursor: cell;
  }
  .popup-content {
    margin: 20% auto;
    width: 60%;
    padding: 20px;
    font-size: 8pt;
  }
}
